body {
  background-color: #121214;
  color: #fff;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  display: flex; /*comportamento de caixa */
  flex-direction: column;
  justify-content: center; /*vertical */
  align-items: center; /*horizontal */
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
}
